{% extends 'base.html' %}

{% block meta %}
<title>Create New Task</title>
{% endblock meta %}

{% block content %}

    <ul class = "nav navbar-expand" style = "background-color: purple; color: white; box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);">
        <li class = "nav-item mt-1 mb-1" style = "margin: 20px;">
            <h1>Create ToDoList - New Task</h1>
        </li>
    </ul>

<div class = "create-task containers-fluid text-center mt-5"></div>
    <form method="POST" action="">
        {% csrf_token %}
        <table  class = "jumbotron table table-hover table-borderless rounded-4" style = "background-color: lavender; max-width: 330px; box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);">
                <tr>
            <tr>
                <td>Create Your Task</td>
                <td><input 
                    type="text" 
                    name="title" 
                    placeholder="What's New?" 
                    class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Description: </td>
                <td><input 
                    type="text" 
                    name="description" 
                    placeholder="Description" 
                    class="form-control"></td>
                </tr>
            <tr>
                <td></td>    
                <td></td><input type="submit" name="submit" value="Create!"/></td>
            </tr>
        </table>
    </form>
</div>

{% endblock content %}